.carousel-inner { 
  margin-top: 80px;
  height: 650px;

}
h3 {
  font-weight: 800;
  font-size: xx-large;
}
h2 {
  font-weight: bolder;
  font-size: 50px;
}

.Tentang-kami {
  margin-right: 20px;
}

.nav-link {
  font-weight: bold;
  font-size: large;
  margin-left: 60px;
}
.foto input {
  margin-right: 10px;
  margin-left: 10px;
  width: 100px;
  border-radius: 10px;
}

.section a {
  margin-right: 50px;
  margin: 20px;
  color: black;
  font-size: x-large;
  font-weight: bold;
}
aside .promo {
  display: flex;

  gap: 10px;
  justify-content: center;
}
aside .gambar1 {
  border-radius: 15px;
  border: 10px;
}
aside .gambar1 img {
  width: 370px;
  border-radius: 20px;
}
aside .gambar2 {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
aside .gambar2 img {
  display: grid;
  grid-template-rows: repeat(auto-fit, minimax(200px, 2fr));
  width: 200px;
  gap: 10px;
  border: 10px;

  border-radius: 20px;
}
.gambar-macbook {
  width: 100%;
  height: 1000px;

  background: linear-gradient(grey, white);
}
.merek a {
  margin-right: 50px;
  justify-content: space-between;
  font-size: medium;
  color: white;
  font-weight: bold;
}
h1 {
  color: white;
}
.gambar-macbook img {
  width: 800px;
  height: 600px;
  border: 10px;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-top: 100px;

  padding: 50px 50px 50px 50px;
  margin-left: 360px;
}

.gambar-macbook img:hover {
  transform: scale(1.1);
}

main {
  padding: 50px 70px;
}

main .card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  border: 0px none;
}

main .card-item {
  display: grid;
  grid-template-rows: repeat(auto-fit, minimax(200px, 1fr));
  border: 40px solid none;
  border-radius: 10px;
  background-color: rgba(235, 233, 233, 1);
  width: 80%;
  height: 400px;
  align-items: center;
  margin-left: 35px;
  padding-top: 20px;
}
main .box-image img {
  width: 150px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
main .box-image img:hover {
  transform: scale(1.1);
}
.box-title h3 {
  font-weight: bold;
  color: black;
  font-size: medium;
  text-align: center;
}
.box-title img {
  width: 80px;
}
.gb img {
  width: 80px;
}
.box-title p {
  font-weight: bold;
  color: black;
  font-size: medium;
  text-align: center;
}
.box-title button {
  padding: 5px 50px;
  color: black;
  background-color: white;
  cursor: pointer;
  transition: 0, 5 ease;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  font-size: medium;
  font-weight: bold;
}
.box-title button:hover {
  cursor: pointer;
  border-radius: 10px;
  border: 20px solid none;
  background-color: gray;
}
.box-title button a{
  color: black;
}

.p,
.o {
  font-size: xx-large;
  font-weight: bold;
}

.row img {
  width: 500px;
}
footer .footer-bawah {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-bawah .box {
  grid-template-rows: repeat(auto-fit, minimax(200px, 1fr));
  background-color: white;
  gap: 50px;
  text-align: center;
}
.isi {
  text-align: start;
  margin-left: 50px;
}

.box h3 {
  font-size: medium;
  margin-top: 30px;
}
.box p {
  font-weight: 600;
}
.box .kamimenerima {
  width: 200px;
}

.box .jasakirim {
  width: 250px;
  padding-left: 20px;
}
.copy {
  background-color: black;
  text-align: center;
  color: white;
  font-style: oblique;
  height: 30px;
}
