*{
    
}
body {
   
    background-image: url(Appeloo/GAMBAR.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}

.inibrand img {
    width:200px ;
    margin-left: 50px;
}

.judul {
    text-align: center;
    margin-top: 10px;
}

.pesan {
    margin-top: 20px;
    
}
.btn{
   width: 30%;
   border-radius: 10px;
font-weight: bold;
   margin-top: 10px;
}
.btn a{
    color: white;
}
.form-select {
width:15% ;
border: 2px solid gray;
border-radius:5px ;
font-weight: bold;
}
